/IOPGraphicsGuidelines.pdf
/IOPLaTeXGuidelines.aux
/IOPLaTeXGuidelines.bbl
/IOPLaTeXGuidelines.blg
/IOPLaTeXGuidelines.log
/IOPLaTeXGuidelines.out
/IOPLaTeXGuidelines.pdf
/IOPLaTeXGuidelines.synctex.gz