/IOPGraphicsGuidelines.pdf
/IOPLaTeXGuidelines.aux
/IOPLaTeXGuidelines.bbl
/IOPLaTeXGuidelines.blg
/IOPLaTeXGuidelines.log
/IOPLaTeXGuidelines.out
/IOPLaTeXGuidelines.pdf
/IOPLaTeXGuidelines.synctex.gz
sinogram.synctex.gz
sinogram.aux
sinogram.bbl
sinogram.blg
sinogram.log
sinogram.out
.gitignore
sinogram.pdf
*.zip